body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 7px solid black;
    border-radius: 30px;
    margin:30px;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(232, 65, 93);
}
.green{
    background-color: rgb(39, 185, 126);
}
.orange{
    background-color: rgb(242, 174, 71);
}
.blue{
    background-color: lightblue;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: purple;
}