* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #87F1FF;
}

.container {
    width: 100%;
    text-align: center;
}
.demo{
    background-color: black;
    padding: 5px;
    margin-bottom: 100px;
}
h1 {
    margin: 30px 0;
    color: white;
    font-size: 60px;
}

/* card container */
.game-option {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

/* individual card */
.games {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: black;
}

/* hover effect */
.games:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 18px rgba(0,0,0,0.35);
}

/* image */
.games img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}

/* image positioning */
.game1 img {
    transform: translateY(50px);
}

.game2 img {
    transform: translateY(30px);
}

.game3 img {
   transform: translateY(-40px);
}

.games a {
    display: block;
}
